table.stats {
  font-size: 15px;
  font-family: sans-serif;
  padding: 20px;
  background-color: rgba(204,204,204,0.3);
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 2px;
  z-index:1;
}

.stats td value {
  display: block;
  width: 50px;
  padding: 5px;
}

.stats th {
  text-align: left;
  font-size: 18px;
}

.overlay
{
    position: absolute;
    display: table;
    background-color: #000;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.overlay span
{
  display:table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font-family: sans-serif;
  font-size:70px;
  color: #fff;
  text-transform: uppercase;
  text-align:center;
}

.tooltip
{
  background-color: #000;
  position: absolute;
  top: 0;
  padding: 5px;
  color: #fff;
}

.tooltip td
{
  font-family: sans-serif;
  color: #fff;
  padding: 2px;
  font-size: 13px;
}

.tooltip td label {
  display: inline-block;
  width: 100px;
  text-transform: uppercase;
}
