table {
	font-size: 15px;
	font-family: sans-serif;
	padding: 20px;
	margin: 0;
	background-color: rgba(204,204,204,0.3);
	display: inline-block;
	position: absolute;
	top: 10px;
	border-radius: 2px;
	cursor: default;
}

td value {
	display: block;
	width: 50px;
	padding: 5px;
}

th {
	text-align: left;
	font-size: 18px;
}